.lot-wrapper.is-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.lot-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #fff;
    box-shadow: 0px 5px 3px 1px rgb(0 0 0 / 15%);
}

.lot-shor-info-wrapper > h1 {
    margin: 0 0 15px;
}

.lot-shor-info-wrapper > .lot-short-info {
    display: flex;
}

.lot-shor-info-wrapper > .lot-short-info > :not(div:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #000;
}

.lot-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
    padding: 30px;
}

@media only screen and (max-width: 1280px) {
    .lot-header {
        flex-direction: column-reverse;
    }
}